body {
    background: #3a5a40;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
}
.blurb h2 {
    color: #52b788;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #dad7cd;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar {
    /* color: #d00000; */
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .new-link{
    color: #ffffff;
    text-decoration: none;
}

#mainNavbar .new-link:hover{
   color: #6a040f;
}


#mainNavbar .navbar-brand {
    font-size: 2rem;
    color: #ffffff;
}

#headingGroup span {
    color: #6a040f;
}

#headingGroup h1 {
    color: #dad7cd;
    font-weight: 100;
    font-size: 3em;
}

.navbar.scrolled {
    background-color: #95d036;
    transition: background-color 1s;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3em;
    }
}